.wrapperVertical {
  margin-bottom: 32px;
  text-align: center;
}

.wrapperHorizontal {
  display: flex;
  align-items: center;
  margin-bottom: 59px;
}

.wrapperVertical .iconVertical {
  font-size: 48px;
  margin-bottom: 12px;
}

.wrapperHorizontal .iconHorizontal {
  font-size: 32px;
  margin-right: 12px;
}
