.label {
  padding: 5px 12px;
  font-size: 11px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.round {
  border-radius: 100px;
}

.square {
  border-radius: 8px;
}

.default {
  color: var(--secondary-text-color);
  background-color: var(--input-border-color);
}

.new,
.normal {
  background-color: var(--green-color);
}

.urgent,
.low {
  background-color: var(--yellow-color);
}

.high {
  background-color: var(--red-color);
}
